<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CODING CHALLENGE | Cube Summation</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="Keywords" content="Cube, Sumation, Hackerrank, Xavier, Araque">
	<meta name="description" content="This is an example of a Hackerrank problem, solved with VueJS, by Xavier Araque.">
	<meta name="author" content="Xavier Araque">
	<!-- OG -->
	<meta property="og:title" content="Cube Summation" />
	<meta property="og:description" content="IThis is an example of a Hackerrank problem, solved with VueJS, by Xavier Araque." />
	<meta property="og:type"   content="website" />
	<meta property="og:url" content="https://developers.ninja/cube-summation/" />
	<meta property="og:image" content="https://developers.ninja/cube-summation/cube-summation.jpg" />
	<meta property="og:image:width" content="1272" />
	<meta property="og:image:height" content="912" />
	<meta property="og:image:alt" content="Xavier Araque" />
	<!-- End OG -->
	<!-- Twitter Card -->
	<meta content='summary_large_image' name='twitter:card'/>
	<meta content='@rendergraf' name='twitter:site'/>
	<meta content='@rendergraf' name='twitter:creator'/>
	<!-- IF INDEX -->
	<b:if cond='data:blog.pageType == &quot;index&quot;'>
	<meta content='Cube Summation' property='og:title'/>
	<meta content='This is an example of a Hackerrank problem, solved with VueJS, by Xavier Araque.' property='og:description'/>
	<meta content='https://developers.ninja/cube-summation/inclusion.jpg' property='og:image'/>
	<meta expr:content='data:blog.homepageUrl' name='og:url'/>
	<!-- NO INDEX -->
	<b:else/>
		<meta expr:content='data:blog.url' name='og:url'/>
		<meta expr:content='data:blog.pageName' name='og:title'/>
		<meta expr:content='data:blog.postImageUrl' name='og:image'/>
		<!--  (SEARCH DESCRIPTION)  -->
		<b:if cond='data:blog.metaDescription'>
		<meta expr:content='data:blog.metaDescription' name='og:description'/>
		<!-- NO (SEARCH DESCRIPTION)  -->
		<b:else/>
			<meta content='This is an example of a Hackerrank problem, solved with VueJS, by Xavier Araque.' name='og:description'/>
		</b:if>
	</b:if>
	<!--End Twitter Card-->
	<!-- Add Bootstrap Slyles -->
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.0.0-beta.3/dist/css/bootstrap.min.css"/>
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@1.4.1/dist/bootstrap-vue.css"/>
	<link type="text/css" rel="stylesheet" href="style.css"/>
	<!-- Add VueJS -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<!-- Add Bootstrap JS -->
	<script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
	<script src="https://unpkg.com/bootstrap-vue@1.4.1/dist/bootstrap-vue.js"></script>
</head>
<body>
	<div id="cube">
		<!-- Start navbar -->		
		<b-navbar toggleable="md" type="dark" variant="dark">
			<b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
			<b-navbar-brand href="#">{{ author }}</b-navbar-brand>
			<b-collapse is-nav id="nav_collapse">
				<b-navbar-nav>
					<b-nav-item target="_blank" href="https://www.hackerrank.com/challenges/cube-summation/problem">Hackerrank - Problem</b-nav-item>
					<b-nav-item target="_blank" href="https://bitbucket.org/rendergraf/cs-coding-challenge">Bitbucket Code</b-nav-item>
					<b-nav-item target="_blank" href="https://twitter.com/Rendergraf">Twitter</b-nav-item>
					<b-nav-item href="mailto:xavieraraque@gmail.com?subject=Hola%20Xavier!&amp;body=Me%20gusto%20mucho%20tu%20ejemplo%20de%20Hackerrank!">E-mail</b-nav-item>
				</b-navbar-nav>
			</b-collapse>
		</b-navbar>
		<!-- End navbar -->
		<b-container>
			<b-row>				
				<!-- Start title -->
				<b-col cols="12">
					<div class="text-center">
						<h1 class="font-weight-bold cube_title"> {{ title }} </h1>
					</div>
				</b-col>
				<!-- End title -->
				<!-- Start input -->		
				<b-col col sm="6" offset-sm="3">
					<h2 class="font-weight-light">{{ input }}</h2>
					<b-form-textarea id="input"
					v-model="input_text"
					:placeholder=placeholder
					name="input">
					</b-form-textarea>
					<p style="color: red" name="error" id="error">
					<b-button variant="primary" size="lg" v-on:click="run(input_text)">{{ action }}</b-button>
				</b-col>
				<!-- End input -->
				<!-- Start output -->
				<b-col col sm="6" offset-sm="3">
					<h2 class="font-weight-light">{{ output }}</h2>
					<ul id="outputlist">
						<li v-for="todo in output_text">
							{{ todo.value }}
						</li>
					</ul>
					<p id="error">{{ error }}</p>			
				</b-col>
				<!-- Start output -->
			</b-row>
		</b-container>
	</div>
<script>
	var app = new Vue({
		el: '#cube',
		data: {
			title: 'Cube Summation',
			author: 'Xavier Araque',
			action: 'Sum',
			input: 'Input',
			output: 'Output',
			placeholder: 'Enter Sample Input',
			input_text: '',
			output_text: [ ],
			error: 'This for error message'
		},
		methods: {
			/*========================================================================
			=            Primary function for Cube Summation, get Strings            =
			========================================================================*/
			run: function (input) {
				try {
					/*----------  Split String  ----------*/					
					let inArry = input.split('\n')

					/*----------  if the string of less than twelve lines, error message  ----------*/ 
					if (inArry.length < 12) throw new Error('Invalid entry text')
						let carrierReturn = 0
						let cycles = parseInt(inArry[ carrierReturn++ ])

					for (let cycle = 0; cycle < cycles; cycle++) {
						let dataCycle = inArry[ carrierReturn++ ].split(' ').map((n) => parseInt(n))
						/*----------  Get length to make Matrix  ----------*/		    			
						let length = dataCycle[ 0 ]
						/*----------  Get transaction number  ----------*/		    			
						let transactions = dataCycle[ 1 ]
						/*----------  Call function for create Matrix  ----------*/		    			
						let matrix = this.makeMatrix(length)
						for (let transaction = 0; transaction < transactions; transaction++) {
							let transaction = inArry[ carrierReturn++ ]
							/*----------  Call function for create transaction/operation number  ----------*/
							this.makeTransaction(transaction, matrix)
						}
					}
				} catch (err) {
					console.error(err)
				}
			},
			/*=====  End of Primary function for Cube Summation, get Strings  ======*/
	
			/*======================================================================
			=             Make Matrix, Receive the length of the matrix            =
			======================================================================*/
			makeMatrix: function (lengthMz) {
				/*----------  Declare var matrix inside fuction  ----------*/				
				let matrix = []
				/*----------  Make Matrix taking the first number of the array, var length  ----------*/
				for (let i = 0; i < lengthMz; i++) {
					/*----------  First dimension  ----------*/					
					matrix[i] = []
					for (let j = 0; j < lengthMz; j++) {
						/*----------  Second dimension  ----------*/
						matrix[i][j] = []
						for (let k = 0; k < lengthMz; k++) {
							/*----------  Third dimension  ----------*/
							matrix[i][j][k] = 0
						}
					}
				}
				/*----------  Reset matrix var  ----------*/				
				return matrix
			},	    
			/*=====  End of  Make matrix, Receive the length of the matrix  ======*/

			/*========================================
			=            Operation Method            =
			========================================*/
			makeTransaction: function (transaction, matrix) {
				let transactionArry = transaction.split(' ')
				let instance = transactionArry[ 0 ]
				if (instance === 'UPDATE') {
					this.update(transactionArry, matrix)
				} else if (instance === 'QUERY') {
					this.query(transactionArry, matrix)
				} else {
					throw new Error('Transaction invalid')
				}
			},     
			/*=====  End of Operation Method  ======*/

			/*==============================
			=            UPDATE            =
			==============================*/		    
			update: function (transactionArry, matrix) {
				const coordinate = {
					x: parseInt(transactionArry[1]) - 1,
					y: parseInt(transactionArry[2]) - 1,
					z: parseInt(transactionArry[3]) - 1
				}
				const value = parseInt(transactionArry[ 4 ])
				matrix[ coordinate.x ][ coordinate.y ][ coordinate.z ] = value
			},		    
			/*=====  End of UPDATE  ======*/

			/*=============================
			=            QUERY            =
			=============================*/		    
			query: function (transactionArry, matrix) {
				const coordinateStart = {
					x: parseInt(transactionArry[1]) - 1,
					y: parseInt(transactionArry[2]) - 1,
					z: parseInt(transactionArry[3]) - 1
				}
				const coordinateEnd = {
					x: parseInt(transactionArry[4]) - 1,
					y: parseInt(transactionArry[5]) - 1,
					z: parseInt(transactionArry[6]) - 1
				}
				let sumValue = 0
				for (let x = coordinateStart.x; x <= coordinateEnd.x; x++) {
					for (let y = coordinateStart.y; y <= coordinateEnd.y; y++) {
						for (let z = coordinateStart.z; z <= coordinateEnd.z; z++) {
							sumValue += matrix[x][y][z]
						}
					}
				}
				this.outputOperation(sumValue)
			},   
			/*=====  End of QUERY  ======*/

			/*=================================
			=            Print Sum            =
			=================================*/
			outputOperation: function (sumValue) {
				app.output_text.push({ value: sumValue })
			}		    
			/*=====  End of Print Sum  ======*/            
		}
	})
</script>
</body>
</html>