@-webkit-keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

html {
  font-size: 1rem; }

body {
  background: -webkit-linear-gradient(121deg, #7543cf, #43cfbb, #eb3ee0);
  background: -o-linear-gradient(121deg, #7543cf, #43cfbb, #eb3ee0);
  background: linear-gradient(329deg, #7543cf, #43cfbb, #eb3ee0);
  background-size: 600% 600%;
  -webkit-animation: backgroundAnimation 30s ease-in-out infinite;
  animation: backgroundAnimation 30s ease-in-out infinite; }

.cube_title {
  color: #fff;
  padding-top: 60px;
  padding-bottom: 20px; }

.form-control {
  border-radius: 0;
  border: none;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }
  .form-control:focus {
    -webkit-box-shadow: 0 0 8px 0.2rem rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 8px 0.2rem rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 20rem; }
    .form-control:focus::-webkit-input-placeholder {
      color: #999; }
    .form-control:focus:-ms-input-placeholder {
      color: #999; }
    .form-control:focus::-ms-input-placeholder {
      color: #999; }
    .form-control:focus::placeholder {
      color: #999; }
  .form-control::-webkit-input-placeholder {
    color: white; }
  .form-control:-ms-input-placeholder {
    color: white; }
  .form-control::-ms-input-placeholder {
    color: white; }
  .form-control::placeholder {
    color: white; }

.btn-primary {
  background-color: #fd7e14;
  border-color: #eb7411;
  border-radius: 0;
  padding: .5rem 4rem; }
  .btn-primary:hover {
    background-color: #eb7411;
    border-color: #ce6610; }

p#output {
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.1); }

#outputlist {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-padding-start: 10px; }
  #outputlist li {
    list-style: none; }

/*# sourceMappingURL=style.css.map */